body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to bottom,
            rgba(255, 255, 255, 0.9),
            rgba(255, 255, 255, 0.9)), url("images/travel.svg");
    background-size: cover;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #0077c0;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}